body {
  font-family: "Roboto", sans-serif;
  font-weight: 1.2;
  line-height: 1.65;

  background-color: #222f3f;
}
.text-in-withe {
  color: white;
}
.text-align-center {
  text-align: center;
}

.light-gray {
  background-color: #364759;
}
main {
  background-color: #e9edee;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}

body > img {
  width: 10rem;
  margin: 1rem 2rem 0.5rem;
}
/* nav bar ul horizontal */
.horizontal-list {
  list-style-type: none;
  padding: 0 0 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block;
  padding: 10px;
}
nav > .light-gray {
  padding-left: 2rem;
}
.div-button {
  padding: 2rem;
}
button {
  border: none;

  padding: 1.2rem;
  width: 100%;
  background-color: #f56600;
}
/* Header with back ground image */
header {
  background-image: url(../images/bg-image.png);
  object-fit: contain;
  background-position: center;
  margin: 0 2rem 2rem;
  padding: 2rem;
}

.in-line_text {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
}
main a {
  color: #157283;
  text-decoration: none;
}

/* immagini in-line section */

.small-imaga-conteiner {
  background-color: white;
  margin: 0 2rem 2rem;
  text-align: center;
}
.small-imaga-conteiner section {
  text-align: start;
}
.small-imaga {
  display: inline-block;
}
.small-imaga img {
  height: 26vw;
  width: 20vw;
  margin: 1rem;

  object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: 6px 5px 10px 3px rgba(0, 0, 0, 0.26);
  box-shadow: 6px 5px 10px 3px rgba(0, 0, 0, 0.26);
}

/* two big immage section  */
.big-image {
  width: 90%;
  margin: 0 2rem 0;
}
.big-image img {
  width: 95vw;
  object-fit: contain;
}
/* footer page */

main ~ .light-gray {
  padding: 1rem;
}

footer img {
  margin: 3rem 3rem 2rem;
  width: 15rem;
}
