body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1.2;
  line-height: 1.65;

  background-color: #222f3f;
}
.text-in-withe {
  color: white;
}
.text-align-center {
  text-align: center;
}

.light-gray {
  background-color: #364759;
}
main {
  background-color: #e9edee;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}

body > img {
  width: 10rem;
  margin: 1rem 2rem 0.5rem;
}
/* nav bar ul horizontal */
.horizontal-list {
  list-style-type: none;
  padding: 0 0 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.8rem;
}
nav > .light-gray {
  padding-left: 2rem;
}
.div-button {
  padding: 2rem;
}
button {
  border: none;
  padding: 0.8rem;
  width: 100%;
  background-color: #f56600;
}
/* Header with back ground image */
header {
  background-image: url(../images/bg-image.png);
  background-repeat: round;
  background-position: bottom;
  margin: 0 2rem 2rem;
  padding: 3rem;
}

.in-line_text {
  display: inline-block;

  margin: 0 0rem 0 1.5rem;
}
main a {
  color: #076e77;
  text-decoration: none;
}
header h3 {
  font-weight: 600;
}

/* immagini in-line section */

.font-size-plus {
  font-size: 1.1rem;
  font-weight: 600;
}
.font-size-plus-a {
  font-size: 0.9rem;
  font-weight: bold;
}

.small-imaga-conteiner {
  background-color: white;
  margin: 0 2rem 2rem;
  text-align: center;
  padding: 1rem 0 0;
}
.small-imaga-conteiner section {
  text-align: start;
}
.small-imaga {
  display: inline-block;
}
.small-imaga img {
  height: 26vw;
  width: 21vw;
  margin: 1vw;

  object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: 6px 5px 10px 3px rgba(0, 0, 0, 0.26);
  box-shadow: 6px 5px 10px 3px rgba(0, 0, 0, 0.26);
}

/* two big immage section  */
.big-image {
  width: 90%;
  margin: 0 2rem 0rem;
}
.big-image img {
  width: 95vw;
  object-fit: contain;
}
.big-image > div > h3 {
  margin-bottom: 2rem;
}
/* footer page */

main ~ .light-gray {
  padding: 0.5rem;
  font-weight: 600;
}

footer img {
  margin: 3rem 3rem 2rem;
  width: 10rem;
}
